---
import Layout from '../layouts/Riyoukiyaku.astro';
---

<Layout
	title="定点集リスト"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 24 2025')}
	heroImage="/5743.jpg"
>
	<p>
		4

	<p>
		3
	</p>

	<p>
		2
	</p>

	<p>
		1
	</p>

	<p>
		0
	</p>
</Layout>
